a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#gallery_18f1f132 div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_18f1f132 div.galleryimgcontainer img {  width: 100%;  height: auto;  } 
@media only screen and (max-width:520px) { #gallery_18f1f132 div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:420px) { #gallery_18f1f132 div.galleryimgcontainer { width: 100%; } } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#button_406604df { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle2 { text-align:center; }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#button_24f5362d { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_956f2ba { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#button_62259c78 { vertical-align: bottom; position:relative; display: inline-block; width:150px; height:40px; background-color:#C0C0C0; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#container_759e08a { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:101%; min-height:769px; background-color:#BDBDBD; background: linear-gradient(to bottom, #FFFFFF, #BDBDBD); border: 1px solid #545454;  }
#container_759e08a_padding { margin: 10px; display: block;  }
#carousel_8db7367 { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:314px; background:none;  }
#carousel_8db7367_page1 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
.textstyle4 { font-size:44pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#carousel_8db7367_page2 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
#gallery_18f1f132 { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:442px;  }
